[submodule "deps/OpenRGB"]
	path = deps/OpenRGB
	url = https://gitlab.com/CalcProgrammer1/OpenRGB.git
[submodule "deps/quickjs"]
	path = deps/quickjs
	url = https://github.com/quickjs-ng/quickjs.git
[submodule "deps/hidapi"]
	path = deps/hidapi
	url = https://github.com/libusb/hidapi.git
[submodule "deps/CSerialPort"]
	path = deps/CSerialPort
	url = https://github.com/itas109/CSerialPort.git
[submodule "deps/OpenRGB_API5"]
	path = deps/OpenRGB_API5
	url = https://gitlab.com/CalcProgrammer1/OpenRGB.git
